<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <style>
       
         .painel_financeiro{
         
            height: 140px;
         }

    </style>

    
    <title>Finanças</title>
</head>
<body>

    <header class="bg-primary" style="height: 160px;">
 

    </header>
           
    <div class="container" style="border: 1px solid white; margin-top: -60px;">
        <div class="row">
            <div class="col-sm-4 mt-2">
                
                <div class="bg-success painel_financeiro">
                    
                    <label for="">Entradas</label>
                    <label for="">0.00</label>

                </div>

                
            </div>
            <div class="col-sm-4 mt-2">

                <div class="bg-danger painel_financeiro">
                    <label for="">Saídas</label>
                    <label for="">0.00</label>
                </div>
                
            </div>
            <div class="col-sm-4  mt-2">
                <div class="bg-light painel_financeiro">
                    <label for="">Saldo</label>
                    <label for="">0.00</label>

                </div>
              
            </div>

        </div>

    </div>

   

        

    <div id="tabela">

    </div>

    <div id="cadastro">

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>



</html>